---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Peter Nguyen">
    <main>
        <h1 class="text-gradient text-center">Peter Nguyen</h1>
        <p class="introduction text-center">Software Engineer</p>
        <ul role="list" class="link-card-grid">
            <Card
                href="https://github.com/pethin"
                title="GitHub"
                body="View some of my work."
            />
        </ul>
    </main>
</Layout>

<style>
    :root {
        --astro-gradient: linear-gradient(0deg, oklch(51.42% 0.2662 276.61), oklch(85% 0.1884 276.61));
    }

    h1 {
        margin: 2rem 0;
    }

    main {
        margin: auto;
        padding: 1em;
        max-width: 60ch;
    }

    .text-gradient {
        font-weight: 900;
        background-image: var(--astro-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100% 200%;
        background-position-y: 100%;
        border-radius: 0.4rem;
    }

    .text-center {
        text-align: center;
    }

    .introduction {
        line-height: 1.6;
        margin: 1rem 0;
        background: oklch(51.42% 0.2662 276.61);
        padding: 0.5rem;
        border-radius: 0.4rem;
        color: var(--color-bg);
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
